.article {
    max-width: 720px;
    margin: 0 auto;
}

.article-image {
    text-align: center;
}

.title {
    font-size: 52px;
    font-family: 'Dancing Script', cursive;
}

p {
    line-height: 1.5em;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
}