<h1>Login</h1>

<form (ngSubmit)="login()" #loginForm="ngForm">
    <div>
        <input type="text" required [(ngModel)]="user.name" name="name" 
            #name="ngModel" placeholder="name" />
        <div [hidden]="name.valid || name.pristine || !name.touched" class="invalid">
            Name is required
        </div>
    </div>
    <div>
        <input type="text" required [(ngModel)]="user.password" name="password" 
            #password="ngModel" placeholder="password" />
        <div [hidden]="password.valid || password.pristine || !password.touched" class="invalid">
            Password is required
        </div>
    </div>
  
    <button type="submit" class="button" [disabled]="loginForm.form.invalid">
        Login
    </button>
</form>

<span style="color: red">{{errorMessage}}</span>